* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: sans-serif;
  align-content: center;
  margin: 20% 20%;
}

h1 {
  font-size: 3em;
  background: linear-gradient(
    to right,
    rgb(255, 0, 0),
    red,
    yellow,
    orange,
    rgb(255, 145, 0)
  );
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
p {
  margin-top: 30px;
  color: blue;
  font-size: 20px;
}

span {
  background-color: green;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  height: 100px;
  width: 200px;
}
